body{
    margin:0;
    padding:0;
}

.background{
    width:100vw;
    height: 100vh;
    background-color: ghostwhite;
    display: flex;
}

.slide_btn{
    position: absolute;
    z-index: 10;
}

.slider{
    background-color: #30336B;
    height: 100vh;
    width:150px;
    transform: translateX(-150px);
    border-right: solid 1px grey;
    
}

.main{
    position: sticky;
    width: 100%;
    transform: translateX(-150px);
}

.intro{
    background-color: #30336B;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.menu{
    
    color: white;
    
}

.sign_up{
    border: none;
    background-color: #BE2EDD;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.descriptions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.whatis_title,.more_title,.benefit_title{
    font-weight: 700;
    font-size: 25px;
}

.benefits{
    margin-left: 3vw;
}

.benefit_lists{
    margin-left: 1vw;
}

.signUp_modal{
    position: absolute;
    width: 25vw;
    height: 70vh;
    opacity: 0;
    margin-left: 33vw;
    margin-top: 15vh;
    border-radius: 15px;
    z-index: 100;
    display: none;
    
}



.signUp_title{
    background-color: #30336B;
    color: white;
    font-weight: 700;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.modal-signUp{
    margin: 5px 0 0 5px;
}

.modal-close{
    margin: 0 5px 0 0;
}

.signUp_inputs{
    width: 80%;
    height: 8%;
    padding-left: 10px;
}

.signUp_contents{
    background-color: white;
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.signUp_des{
    margin-top: 15px;
}

.modal-signUpBtn{
    width: 20%;
    background-color: #BE2EDD;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    height: 6%;
}

.modal-close{
    cursor: pointer;
    font-size: 25px;
}

@keyframes showSlider{
    from{
        transform: translateX(-150px);
        
    }
    to{
        transform: translateX(0);
        
    }
}

@keyframes closeSlider{
    from{
        transform: translateX(0);
        
    }
    to{
        transform: translateX(-150px);
    
    }
}

@keyframes btnmove{
    from{
        margin-left: 0;
    }
    to{
        margin-left:150px;
    }
}

@keyframes revertBtn{
    from{
        margin-left:150px;
    }
    to{
        margin-left: 0;
    }
}

@keyframes showModal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}