body{
    margin:0;
    padding:0;
}

.background{
    width:100vw;
    height: 100vh;
    background-color: ghostwhite;
    display: flex;
}

.slide_btn{
    position: absolute;
    z-index: 10;
}

.slider{
    background-color: rgba(0,0,0,0.2);
    height: 100vh;
    width:150px;
    transform: translateX(-150px);
}

.main{
    transform: translateX(-150px);
}

.intro{
    background-color: #30336B;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes showSlider{
    from{
        transform: translateX(-150px);
        
    }
    to{
        transform: translateX(0);
        
    }
}

@keyframes closeSlider{
    from{
        transform: translateX(0);
        
    }
    to{
        transform: translateX(-150px);
    
    }
}